@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  --font-family: var(--font-geist-andada-pro);
  --activeColor: #92613a ;
  --buttonBg: #FCE2CE;
}

html,
body {
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

h1 {
  font-size: 47px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

.form-button {
  color: var(--activeColor);
  margin: 80px 0  32px 0;
  background-color: var(--buttonBg);
  border-radius: 128px;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

.boxShadowModal {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}